<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ya.javatribe.mapper.admin.AfficheManagerMapper" >

  <!-- 查询出已发布公告的总记录数 -->
  <select id="countAffiche" resultType="java.lang.Integer">
    select count(*) from affiche where `status` = 1
  </select>

  <!--查询分页已发布公告 -->
  <select id="queryAllAfficheByPage"
          parameterType="cn.ya.javatribe.model.admin.Page"
          resultMap="cn.ya.javatribe.mapper.generator.AfficheMapper.BaseResultMap">
    SELECT affiche_id, affiche_title, affiche_content, public_time, member_name, attachFile_id
    FROM affiche where `status` = 1 ORDER BY public_time DESC LIMIT #{index}, #{pageSize}
  </select>

  <!-- 更改公告的附件ID为null-->
  <update id="updateAttachfileByAffiche" parameterType="java.lang.String" >
    UPDATE affiche SET attachFile_id = NULL WHERE attachFile_id = #{attachiFileId}
  </update>

  <!-- 删除公告-->
  <update id="delAfficheById" parameterType="cn.ya.javatribe.model.generator.Affiche">
        UPDATE affiche SET `status` = #{status} WHERE affiche_id = #{afficheId}
  </update>

</mapper>